* {
    background-color: linen;
}

main {
    min-height: 100vh;
}

.reg {
    text-align: center;
    background-color: lightcoral;
    border: darkkhaki solid 2px;
    max-width: 50%;
    margin-left: 25%;
    padding: 25px;
}

#passwordreset {
    text-align: center;

    border: darkkhaki solid 2px;
    max-width: 50%;
    margin-left: 25%;
    padding: 25px;
}
#logo {
    width: 400px;
    margin: 0;
}

#logo img {
    height: 60px;
    width: 100px;
}
.profile-pic {
    float: right;
    height: 60px;
    width: 100px;
    right: 0;
    top: -85px;
    position: relative;
}
.login {
    text-align: center;
    background-color: lightcoral;
    border: darkkhaki solid 2px;
    max-width: 50%;
    margin-left: 25%;
    padding: 25px;
}
#heading {
    background-color: lightcoral;
}

#reset {
    background-color: lightcoral;
}

#head {
    background-color: lightcoral;
    margin-bottom: auto;
}

#register {
    background-color: lightcoral;
    margin-top: 25px;
}

input {
    margin: 10px;
}

#welcome h1 {
    text-align: center;
    color: darkred;
}

#upload {
    border: lightseagreen solid 3px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 30px;
    padding: 0;
    width: 50%;
    left: 250px;
    position: relative;
}
#file {
    display: flex;
    justify-content: center;
    align-items: center;
}

#close {
    padding-left: 98%;
    margin-top: 0;
}
